<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templte is working</title>
</head>
<body>
    
    <h1>Welcome to the Text Analyzer ! Enter your text below</h1>
    <form action="/removepunc" method="get">
        <textarea name="text" style='margin: 0px; margin-bottom: 10px; display:block; width: 725px; height: 151px;'></textarea>
        <input type="submit" value="Analyse Text">
    </form>
</body>
</html>